body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  margin: 0;
  padding: 8px 16px;
  text-align: center;
}

.main-header {
  background-color: #f1f4f6;
  margin-bottom: 20px;
  min-height: 320px;
}

.mine-header-bar,
.mine-header-bar-catalog {
  width: 100%;
  height: 42px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #30374a;
  margin-bottom: 43px;
}

.mine-header-bar-catalog {
  margin-bottom: 37px;
}

.header-bar {
  margin: 0 auto;
  width: 940px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.search {
  height: 42px;
  width: 260px;
}

.header-bar input[type="search"] {
  font-family: "Cuprum", "Arial", sans-serif;
  width: 100%;
  height: 42px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  background-color: #30374a;
  border: none;
  box-sizing: border-box;
  outline: 0;
  cursor: pointer;
  background: #30374a url(../img/icon-search.svg) no-repeat 17px 12px;
  opacity: 0.3;
}

.header-bar input[type="search"]:hover {
  opacity: 1;
}

.header-bar input[placeholder="Поиск:"] {
  padding: 7px 0 9px 47px;
}

.header-bar input[type="search"]:focus {
  background: #ffffff url(../img/icon-search-hover.png) no-repeat 17px 12px;
  opacity: 1;
  color: #000000;
}

.logo,
.logo-footer {
  width: 220px;
  height: 29px;
  background-color: #cd3944;
  text-align: center;
  padding-top: 13px;
  border-bottom: 5px solid #9c2b34;
}

.logo-footer {
  height: 43px;
  padding-top: 20px;
}

.logo:hover,
.logo-footer:hover {
  background-color: #ae2f39;
}

.logo:active,
.logo-footer:active {
  background-color: #a02c35;
}

.basket-order {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 11px;
  padding: 0;
}

.navigation {
  margin: 0 auto;
  width: 940px;
  background-color: #3a445b;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #3a445b;
  border-bottom: 5px solid #30374a;
  padding-left: 20px;
}

.site-navigation a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 30px 19px 31px;
}

.basket-order,
.main-offers,
.site-navigation,
.sliders,
.popular-manufacturers,
.footer-site-navigation,
.our-offers,
.social-icons,
.cabinet-order,
.filter-manufactures,
.power-filter,
.sorting,
.pagination-list {
  list-style: none;
}

.site-navigation a {
  color: #ffffff;
}

.basket-order a {
  color: #ffffff;
  padding: 12px 30px 13px 48px;
}

.basket-order a:hover {
  background-color: #282e3c;
}

.basket-order a:active {
  opacity: 0.3;
  background-color: #1f232d;
}

.bookmarks,
.bascet,
.entrance,
.exit,
.contacts-tel {
  position: relative;
  padding-left: 50px;
}

.bookmarks::before,
.bascet::before,
.search::before,
.entrance::before,
.user-block-login::before,
.contacts-tel::before {
  content: "";
  position: absolute;
  background-position: 0 0;
  opacity: 0.3;
  top: 13px;
  left: 17px;
  width: 14px;
  height: 16px;
  z-index: 2;
}

.exit::after,
.user-block-login::before {
  width: 23px;
  height: 20px;
  left: 5px;
}

.exit::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.contacts-tel::before {
  width: 20px;
  height: 20px;
  left: 12px;
  background: #f3f6f8 url(../img/icon-phone.svg)no-repeat;
}

.bascet::before {
  background: transparent url(../img/icon-cart.svg)no-repeat;
}

.bookmarks::before {
  left: 21px;
  background: transparent url(../img/icon-bookmark.svg)no-repeat;
}

.entrance::before {
  top: 13px;
  left: 13px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  background: #ffffff url(../img/icon-login-focus.png)no-repeat;
}

.entrance:hover::before {
  opacity: 1;
}

.background-user {
  background-color: #ffffff;
  width: 280px;
  min-height: 25px;
  padding: 10px;
  text-align: center;
  margin-left: -10px;
  margin-top: 10px;
}

.user-block-login::before {
  top: 13px;
  left: -33px;
  background: #ffffff url(../img/icon-user.png)no-repeat;
}

a.exit {
  padding: 0;
}

.exit::after {
  top: -2px;
  left: 35px;
  background: #ffffff url(../img/icon-logout.png)no-repeat;
}

.user-block-login:hover::before,
.exit:hover::after,
.bascet:hover::before,
.bookmarks:hover::before,
.contacts-tel::before,
.input-search:hover::before,
.input-search:active::after {
  opacity: 1;
}

.user-block-login:active,
.exit:active::after,
.entrance:active::before {
  opacity: 0.3;
}

a.cart-item {
  background-color: #cd3944;
  padding: 12px 25px 13px 48px;
}

a.cart-item:hover {
  background-color: #ae2f39;
}

a.cart-item:focus {
  background-color: #a02c35;
}

a.checkout {
  padding-left: 20px;
  padding-right: 23px;
  padding-bottom: 13px;
  background-color: #7aa448;
}

a.checkout:hover {
  background-color: #81ba3f;
}

a.checkout:active {
  background-color: #63843d;
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.site-navigation a:hover {
  background-color: #30374a;
}

.site-navigation a:active {
  background-color: #252b3b;
}

.contacts-user h1 {
  font-size: 15px;
  font-style: italic;
  color: #cd3944;
  width: 205px;
  margin-top: 5px;
  margin-left: 52px;
}

.contacts-tel {
  font-size: 21px;
  line-height: 21px;
  color: #c82d2e;
  background-color: #f1f4f6;
  border: 3px solid #ffffff;
  width: 46px;
  min-height: 270px;
  padding: 8px 50px 9px 72px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.contacts-user,
.contacts-user-catalog {
  margin: 0 auto;
  width: 940px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.contacts-user-catalog {
  margin-top: 17px;
}

.contacts-adress {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #3a445b;
  margin-top: 11px;
}

.user-block {
  margin-top: -33px;
  margin-right: 1px;
}

.user-block a,
a.entrance {
  min-width: 250px;
  text-align: center;
  padding: 10px 23px;
  font-size: 21px;
  line-height: 21px;
  margin-left: 9px;
  color: #000000;
  background-color: #ffffff;
}

a.entrance {
  padding-left: 45px;
}

.user-block a:hover {
  color: #cd3944;
  background-color: #ffffff;
}

.user-block a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.user-login {
  width: 290px;
  min-height: 45px;
}

.user-block-login {
  position: relative;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  margin-left: -17px;
  padding-top: 10px;
}

.cabinet-order {
  display: flex;
  flex-wrap: nowrap
}

ul.cabinet-order {
  position: relative;
  padding: 0;
  margin-top: 4px;
  margin-left: -6px
}

ul.cabinet-order::after {
  position: absolute;
  content: "";
  top: 8px;
  right: 187px;
  width: 2px;
  height: 2px;
  background-color: #3a445b;
  border: 1px solid #3a445b;
  border-radius: 10px;
}

.cabinet-order a {
  font-size: 16px;
  line-height: 18px;
  color: #3a445b;
  background-color: #f1f4f6;
  text-decoration: underline;
}

.cabinet-order a:hover {
  color: #cd3944;
  background-color: #f1f4f6;
}

.cabinet-order a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #f1f4f6;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.goods {
  margin: 0 auto;
  width: 940px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.breadcrumbs a {
  font-family: 'PT Sans', Arial, sans-serif;
  position: relative;
  padding-left: 40px;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs a::before {
  position: absolute;
  top: 4px;
  left: 11px;
  height: 10px;
  width: 10px;
  z-index: 1;
  border-radius: 50px 0 0 0;
  background-color: #ffffff;
  box-shadow: 1px 1px 0 1px #c1c6ce;
  content: "";
  transform: rotate(-45deg) scale(0.73);
}

.no-before::before {
  display: none;
}

a.no-before {
  padding: 0;
}

.catalog {
  margin-left: 10px;
  margin-bottom: 28px;
}

ul.sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding: 9px 4px 9px 20px;
  text-transform: uppercase;
}

.sorting {
  width: 675px;
  background-color: #f5f2ec;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  text-align: center;
  border-radius: 3px;
}

.sorting-name {
  padding-right: 75px;
}

.sorting a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #cd3944;
  margin-left: 30px;
}

a.sorting-active {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #cd3944;
  border: none;
}

.sorting a:hover {
  color: #000000;
  border-bottom: 1px solid #cd3944;
}

.sorting a:active {
  color: #cd3944;
  border: none;
}

a.arrow {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  font-size: 0;
  border: none;
}

a.arrow:hover,
a.arrow:active {
  border: none;
}

.arrow::before {
  display: inline-block;
  vertical-align: middle;
  border: 11px solid #c4c4c4;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;
  content: "";
}

a.arrow-down:hover::before {
  border: 11px solid #000000;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;
}

a.arrow-down:active::before {
  border: 11px solid #cd3944;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;
}

a.arrow-up::before {
  border: 11px solid #cd3944;
  border-right-width: 6px;
  border-right-color: transparent;
  border-left-width: 6px;
  border-left-color: transparent;
}

a.arrow-up::before {
  border-top-width: 0;
}

a.arrow-down:hover::before,
a.arrow-down:active::before {
  border-bottom-width: 0;
}

.arrow-down::before {
  border-bottom-width: 0;
}

.filters fieldset {
  border: none;
  padding: 0;
  margin-left: 1px;
}

.filter-price {
  margin-bottom: 45px;
}

.filter-price::after {
  position: absolute;
  content: "";
  width: 220px;
  height: 1px;
  top: 243px;
  background-color: #f5f2ec;
}

.filter-manufacture {
  font-family: 'PT Sans', Arial, sans-serif;
  margin-bottom: 26px;
}

.filter-manufacture::after {
  position: absolute;
  content: "";
  width: 220px;
  height: 1px;
  top: 507px;
  background-color: #f5f2ec;
}

.filter-catalog {
  display: flex;
  width: 250px;
  padding: 0;
}

.legend-filter {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.filter {
  width: 220px;
  position: relative;
}

.range-controls {
  background-color: #f5f2ec;
  margin-bottom: 7px;
  margin-top: 11px;
  height: 50px;
  position: relative;
  padding: 15px;
  border-radius: 3px;
}

.scale-bar {
  padding-top: 24px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dbdd;
  padding-left: 10px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #72c979;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 17px;
  top: 30px;
}

.range-toggle-max {
  left: 158px;
  top: 30px;
}

.price-window {
  display: flex;
  justify-content: space-between;
}

.filters span {
  padding-top: 5px;
}

input[type="range"] {
  margin-top: 30px;
  margin-left: 10px;
  width: 200px;
  height: 2px;
  cursor: pointer;
}

input[name="price-min"],
input[name="price-max"] {
  background-color: #f5f2ec;
  border: none;
  width: 95px;
  height: 36px;
  border-radius: 3px;
}

input[value="0"],
input[value="30000"] {
  text-align: center;
  font-size: 18px;
}

.filter-manufactures,
.power-filter {
  padding-left: 24px;
}

.filters label {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
  margin-left: -5px;
}

input[type="checkbox"]+label::before {
  position: absolute;
  top: 0;
  left: -36px;
  z-index: 1;
  width: 19px;
  height: 19px;
  border: 2px solid #c4c4c4;
  border-radius: 3px;
  content: "";
}

input[type="checkbox"]:disabled+label::before {
  position: absolute;
  top: 0;
  left: -36px;
  z-index: 1;
  width: 19px;
  height: 19px;
  border: 2px solid #e8e8e8;
  border-radius: 3px;
  content: "";
}

input[type="checkbox"]:hover:disabled+label::before {
  position: absolute;
  top: 0;
  left: -36px;
  z-index: 1;
  width: 19px;
  height: 19px;
  border: 2px solid #e8e8e8;
  border-radius: 3px;
  content: "";
}

input[type="checkbox"]:checked~label::after {
  position: absolute;
  top: -10px;
  left: -24px;
  height: 21px;
  width: 9px;
  z-index: 1;
  border-radius: 100px 0 0 0;
  background-color: transparent;
  box-shadow: 4px 4px 0 0px #c4c4c4;
  content: "";
  transform: rotate(45deg);
}

input[type="checkbox"]:disabled~label::after,
input[type="checkbox"]:hover:disabled~label::after {
  position: absolute;
  top: -10px;
  left: -24px;
  height: 21px;
  width: 9px;
  z-index: 1;
  border-radius: 70px 0 0 0;
  background-color: transparent;
  box-shadow: 4px 4px 0 0px #e8e8e8;
  content: "";
  transform: rotate(45deg);
}

input[type="checkbox"],
input[type="radio"] {
  visibility: hidden;
}

input[type="radio"]+label::before {
  position: absolute;
  top: -3px;
  left: -36px;
  z-index: 1;
  width: 17px;
  height: 17px;
  border: 4px solid #c4c4c4;
  border-radius: 50%;
  content: "";
}

input[type="radio"]:disabled+label::before {
  position: absolute;
  top: -3px;
  left: -36px;
  z-index: 1;
  width: 17px;
  height: 17px;
  border: 4px solid #e8e8e8;
  border-radius: 50%;
  content: "";
}

input[type="radio"]:hover:disabled+label::before {
  position: absolute;
  top: -3px;
  left: -36px;
  z-index: 1;
  width: 17px;
  height: 17px;
  border: 4px solid #e8e8e8;
  border-radius: 50%;
  content: "";
}

input[type="radio"]:disabled:checked~label::after {
  position: absolute;
  top: 5px;
  left: -28px;
  z-index: 1;
  width: 3px;
  height: 3px;
  background-color: #e8e8e8;
  border: 3px solid #e8e8e8;
  border-radius: 50%;
  content: "";
}

input[type="radio"]:hover:disabled:checked~label::after {
  position: absolute;
  top: 5px;
  left: -28px;
  z-index: 1;
  width: 3px;
  height: 3px;
  background-color: #e8e8e8;
  border: 3px solid #e8e8e8;
  border-radius: 50%;
  content: "";
}

input[type="radio"]:checked~label::after {
  position: absolute;
  top: 5px;
  left: -28px;
  z-index: 1;
  width: 3px;
  height: 3px;
  background-color: #c4c4c4;
  border: 3px solid #c4c4c4;
  border-radius: 50%;
  content: "";
}

input[type="checkbox"]:hover+label::before {
  background-color: transparent;
  border: 2px solid #b4b4b4;
}

input[type="radio"]:hover+label::before {
  border: 4px solid #b4b4b4;
  border-radius: 50%;
}

input[type="radio"]:hover+label::after {
  background-color: #b4b4b4;
  border: 3px solid #b4b4b4;
}

input[type="checkbox"]:hover+label::after {
  border-radius: 70px 0 0 0;
  background-color: transparent;
  box-shadow: 4px 4px 0 0px #b4b4b4;
}

.filter h3 {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #f5f2ec;
  height: 25px;
  text-transform: uppercase;
  padding-top: 9px;
  padding-left: 19px;
  padding-bottom: 4px;
  border-radius: 3px;
}

.filter-input {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 400;
  color: #000000;
  background-color: #000000;
  text-transform: uppercase;
}

li.filter-option {
  margin-bottom: 15px;
}

.result {
  margin-top: 20px;
}

.filter-button {
  font-family: 'PT Sans', Arial, sans-serif;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 40px;
  padding: 12px 39px 11px 39px;
  outline: none;
}

.filter-button:hover {
  border: 1px solid #bec5c9;
}

.filter-button:active {
  border: 1px solid #cd3944;
}

.offers {
  padding-top: 30px;
  margin: 0 auto;
  width: 940px;
  margin-bottom: 43px;
}

.offers-item {
  margin-left: -10px;
}

.main-offers {
  display: flex;
  padding: 0;
  height: auto;
}

.block-offers-top {
  padding: 0;
  height: 123px;
}

.top-section {
  display: flex;
  flex-wrap: nowrap;
}

.block-offers-right {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
}

.offers-section {
  width: 300px;
  height: 123px;
  margin: 10px;
}

.main-offers h3 {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 22px;
  margin-top: 21px;
  margin-bottom: 20px;
}

.main-offers a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  text-transform: uppercase;
}

.main-offers a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.main-offers a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.materials {
  background-color: #efbe52;
  background: #efbe52 url(../img/icon-1.svg) no-repeat 214px 32px;
}

.materials a {
  font-weight: 400;
  margin-left: 25px;
  padding: 11px 23px 11px 24px;
}

.icon-new::after,
.tool,
.materials,
.equipment,
.discounts,
.delivery {
  position: relative;
}

.materials::after,
.tool::after,
.equipment::after,
.discounts::after,
.delivery::after {
  content: "";
  position: absolute;
  opacity: 1;
  top: 22px;
  right: 17px;
  width: 90px;
  height: 85px;
}

.icon-new::after {
  background: transparent url(../img/new-flag.svg);
}

.tool {
  background-color: #73bae1;
  background: #73bae1 url(../img/icon-2.svg) no-repeat 198px 33px;
}

.tool a {
  font-weight: 400;
  margin-left: 25px;
  margin-top: 15px;
  padding: 11px 27px 10px 27px;
}

.equipment {
  background-color: #c990d5;
  background: #c990d5 url(../img/icon-3.svg) no-repeat 190px 30px;
}

.equipment a {
  font-weight: 400;
  margin-left: 23px;
  margin-top: 19px;
  padding: 11px 31px 10px 31px;
}

.discounts {
  background-color: #a5d691;
  background: #a5d691 url(../img/icon-4.svg) no-repeat 196px 25px;
}

.discounts a {
  font-weight: 400;
  margin-left: 23px;
  margin-top: 16px;
  padding: 11px 23px 10px 23px;
}

.delivery {
  background-color: #efbe52;
  background: #efbe52 url(../img/icon-5.svg) no-repeat 190px 32px;
}

.delivery a {
  font-weight: 400;
  margin-left: 23px;
  margin-top: 15px;
  padding: 10px 37px 10px 37px;
}

.sliders {
  padding: 10px;
  position: relative;
}

.sliders-controls::after,
.sliders-controls::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  top: 228px;
  left: 324px;
  background-color: #cc3333;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

.sliders-controls::after {
  top: 228px;
  left: 304px;
  background-color: #ffffff;
}

.slider-slides {
  width: 300%
}

.sliders h3 {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}

.sliders p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.sliders a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #cd3944;
  padding: 14px 45px 14px 49px;
  border-radius: 3px;
}

.sliders a:hover {
  background-color: #ae2f39;
}

.sliders a:active {
  background-color: #a02c35;
}


/*.slide-1{
  display: none;
}*/

.slide-2 {
  display: none;
}

.slide-2 a,
.slide-1 a {
  position: absolute;
  content: "";
  left: 35px;
  bottom: 40px;
  padding: 10px 45px 10px 50px;
}

.slide-1 h3,
.slide-2 h3 {
  position: absolute;
  content: "";
  text-transform: uppercase;
  top: 12px;
  left: 13px;
}

.slide-1 p,
.slide-2 p {
  position: absolute;
  content: "";
  top: 53px;
  left: 35px;
}

.sliders::after {
  position: absolute;
  top: 131px;
  left: 45px;
  height: 26px;
  width: 26px;
  z-index: 1;
  border-radius: 50px 0 0 0;
  background-color: transparent;
  box-shadow: 2px 2px 0 1px #ffffff;
  content: "";
  transform: rotate(135deg);
  cursor: pointer;
}

.sliders::before {
  position: absolute;
  top: 131px;
  right: 40px;
  height: 26px;
  width: 26px;
  z-index: 1;
  border-radius: 50px 0 0 0;
  background-color: transparent;
  box-shadow: 2px 2px 0 1px #ffffff;
  content: "";
  transform: rotate(-45deg);
  cursor: pointer;
}

.headline {
  display: flex;
  justify-content: space-between;
  background-color: #f8f5f0;
  padding: 4px 0 4px 29px;
  margin-bottom: 11px;
  align-items: center;
}

.title-headline {
  background-color: #f3f6f8;
}

.popular-goods,
.manufacturers,
.page-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #3a445b;
  text-transform: uppercase;
}

.all-goods {
  margin: 0 auto;
  width: 940px;
}

.all,
.next {
  min-width: 233px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #cd3944;
  border-radius: 3px;
  margin-right: 24px;
  padding: 10px;
}

.all:hover {
  background-color: #ae2f39;
}

.all:active {
  background-color: #a02c35;
}

.index-catalog {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0;
  margin-right: -20px;
  margin-top: 20px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 700px;
  margin-left: 10px;
}

.catalog-item {
  font-family: 'PT Sans', Arial, sans-serif;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}

.catalog-item:hover {
  box-shadow: 0 5px 15px 0 grey;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.item4 {
  margin-left: 20px;
}

.catalog-list {
  font-size: 0;
}

.catalog-item {
  font-size: 16px;
}

.flag::before {
  top: -1px;
  right: -1px;
}

.logo-new {
  top: 0;
  right: 0;
}

.logo-new,
.flag::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  width: 60px;
  height: 60px;
  background: transparent url(../img/new-flag.png) no-repeat 0 0;
}

.catalog-item img {
  width: 100%;
  padding: 0;
}

.catalog-item .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.action .buy,
.action .item-bookmark {
  display: block;
  position: relative;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.action .buy:hover {
  background-color: #81ba3f;
  border-color: #81ba3f;
  border-bottom-color: #367315;
}

.action .buy:active {
  background-color: #63843d;
  border-color: #63843d;
}

.action .item-bookmark {
  color: #32425c;
  background-color: #ffffff;
  border-bottom-color: #63a63e;
}

.action .buy::before {
  content: "";
  position: absolute;
  background-position: 0 0;
  opacity: 0.3;
  top: 8px;
  left: 17px;
  width: 14px;
  height: 16px;
  background: transparent url(../img/icon-cart.svg) no-repeat;
}

.action .buy:hover::before,
.action .buy:active::before {
  opacity: 1;
}

.action .item-bookmark:hover {
  border-color: #3a445b;
}

.action .item-bookmark:active {
  border-color: #3a445b;
  opacity: 0.3;
}

.catalog-item .action {
  display: none;
}

.catalog-item:hover .action {
  display: block;
}

.catalog-item img {
  max-width: 100%;
}

.catalog-item .title {
  font-size: 18px;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 3px;
  margin-bottom: 9px;
  color: #989898;
  text-decoration: line-through;
}

.catalog-item .catalog-item-price {
  position: relative;
  width: 70px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 9px 35px 9px 33px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-item .catalog-item-price::after {
  position: absolute;
  content: "";
  top: 0;
  right: -23px;
  width: 0;
  height: 0;
  border: 19px solid #ffffff;
  border-left-color: #ee3643;
}

.catalog-item .no-discount {
  margin-top: 39px;
}

.manufacture {
  margin: 0 auto;
  width: 940px;
}

.popular-manufacturers {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 62px;
  margin-top: 20px;
}

.popular-manufacturers li:hover {
  box-shadow: 0 5px 15px 0 grey;
}

.popular-manufacturers li:active {
  opacity: 0.3;
}

.popular-manufacturers li {
  position: relative;
  border: 1px #eaeaea solid;
  width: 217px;
  height: 144px;
  margin-bottom: 21px;
}

.popular-manufacturers img {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -5px;
  bottom: 0;
}

.background-service {
  background-color: #f6f8fa;
  margin-bottom: 55px;
}

.service {
  margin: 0 auto;
  width: 960px;
  padding-top: 40px;
  padding-bottom: 21px;
  padding-left: 18px;
  background: #f5f8f9 url(../img/shadow.png);
  background-position: 248px 200px;
  background-repeat: no-repeat;
}

.delivery-service {
  background: transparent url(../img/layer131.png) no-repeat;
  background-position: 151px 60px;
  width: 620px;
  margin-left: 80px;
  margin-top: 22px;
  min-height: 300px;
}

.guarantees {
  display: none;
  background: transparent url(../img/layer130.png) no-repeat;
  background-position: 240px 38px;
  width: 620px;
  margin-left: 80px;
  min-height: 300px;
  margin-top: 23px;
}

.credit {
  display: none;
  background: transparent url(../img/layer119.png) no-repeat;
  background-position: 165px 35px;
  width: 640px;
  margin-left: 80px;
  min-height: 300px;
  margin-top: 24px;
}

a.application {
  padding: 10px 45px;
}

.credit p {
  margin-bottom: 28px;
}

p.about-service {
  margin-bottom: 30px;
}

.delivery-service p {
  width: 300px;
}

.about-service {
  width: 380px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.service h2 {
  font-size: 29px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.service h3 {
  font-size: 35px;
  line-height: 36px;
  color: #3a445b;
  text-transform: uppercase;
  margin-bottom: 24px
}

.service-info {
  width: 400px;
  margin-bottom: 10px;
}

.service-info p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
}

.company-delivery {
  margin: 0;
  padding: 0;
}

.about-service {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.list-services {
  margin: 0;
}

.list-services .list {
  padding: 0;
  margin: 15px 10px;
}

.button-service {
  width: 240px;
  margin-top: 60px;
}

.service-list:hover {
  background-color: #30374a;
}

.service-list:active {
  background-color: #ffffff;
  color: #3a445b;
}

.service-list,
.button-current {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  background-color: #3a445b;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 23px;
  margin: 0;
}

.button-current {
  background-color: #ffffff;
  color: #3a445b;
}

.index-columns {
  margin: 0 auto;
  width: 940px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 91px;
}

.about-company {
  width: 600px;
  margin-right: 121px;
}

.about-company .list {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  position: relative;
  margin: 19px 36px;
}

.list::before {
  position: absolute;
  top: 10px;
  left: -35px;
  content: "";
  width: 25px;
  height: 2px;
  background-color: red;
}

.address-map h2,
.about-company h2 {
  font-size: 29px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.about-company p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 22px;
}

.about-company-button {
  padding-top: 27px;
}

.about-company-button a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #cd3944;
  border-radius: 3px;
  padding: 10px 40px 10px 42px;
  outline: none;
}

.about-company-button a:hover {
  background-color: #ae2f39;
}

.about-company-button a:active {
  background-color: #a02c35;
}

.map {
  margin: 18px 0 39px 0;
}

.address-map p {
  font-family: 'PT Sans', Arial, sans-serif;
  width: 190px;
}

.address-map {
  width: 380px;
  margin: 0;
  padding: 0;
  margin-right: -30px;
}

.our-address {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #cd3944;
  border-radius: 3px;
  padding: 12px 59px 12px 64px;
  outline: none;
}

.our-address:hover {
  background-color: #ae2f39;
}

.our-address:active {
  background-color: #a02c35;
}

.pagination-list {
  display: flex;
  justify-content: flex-start;
  margin-left: -30px;
  margin-top: 40px;
}

.pagination-item a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  padding: 10px 15px;
  margin-right: 9px;
}

.pagination-item a:hover {
  border: 1px solid #bec5c9;
}

.pagination-item a:active {
  border: 1px solid #cd3944;
}

.next-item a {
  padding: 10px 31px 10px 31px;
  text-transform: uppercase;
}

.pagination-item-current a,
.pagination-item-current a:hover {
  color: #ffffff;
  background-color: #cd3944;
  border: 1px solid #cd3944;
}

.perforators {
  background-color: #f3f5f7;
  margin: 0 auto;
}

.about-perforators {
  width: 940px;
  min-height: 261px;
  margin: 0 auto;
  padding-left: 4px;
}

.about-perforators h2 {
  padding-top: 65px;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.about-perforators p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  margin: 0;
}

.main-footer {
  margin: 0 auto;
  background-color: #3a445b;
}

.navigation-footer-bar {
  display: flex;
}

.main-footer-bar {
  width: 940px;
  min-height: 193px;
  margin: 0 auto;
}

.footer-site-navigation {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 0 0 76px;
  margin-left: 37px;
}

.footer-site-navigation a {
  display: flex;
  flex-wrap: nowrap;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #3a445b;
  margin-top: 26px;
  margin-left: 59px;
}

.footer-site-navigation a:hover,
.our-offers a:hover {
  text-decoration: underline;
}

.footer-site-navigation a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.info-footer {
  display: flex;
  align-items: center;
}

.contacts-footer {
  width: 333px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 2px;
  margin-top: 20px;
}

.our-offers {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  margin-left: 33px;
}

.our-offers a {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 24px;
  color: #f3d084;
  margin-top: -20px;
  margin-left: 59px;
  margin-right: 0;
}

.our-offers a:active {
  color: rgba(243, 208, 132, 0.5);
  text-decoration: none;
}

.info-social {
  width: 100%;
  background-color: #30374a;
}

.information {
  width: 940px;
  min-height: 107px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 21px;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  margin: 0 auto;
  padding: 0;
  margin-left: 35px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282e3c;
  width: 43px;
  height: 43px;
  border-radius: 22px;
  margin-top: 14px;
}

.social-button:hover,
.social-button:active {
  background-color: #cd3944;
}

.created {
  width: 240px;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.feedback,
.footer-copyright {
  width: 150px;
  text-align: start;
  font-size: 16px;
  line-height: 18px;
}

.feedback b,
.footer-copyright b {
  color: #ffffff;
}

.feedback a,
.footer-copyright a {
  color: #f3d084;
  padding: 0;
}

.feedback a:hover,
.footer-copyright a:hover {
  text-decoration: underline;
}

.feedback a:active,
.footer-copyright a:active {
  color: #cd3944;
  text-decoration: none;
}

.feedback {
  margin-right: -75px;
}

.footer-copyright {
  width: 130px;
  margin-right: -19px;
}

.modal {
  width: 200px;
  height: 200px;
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0.0, 0, 0.7);
}

.modal-login {
  display: none;
  top: 15%;
  left: 45%;
  width: 620px;
  height: 430px;
  margin-left: -230px;
  border-top: 7px solid #de5357;
  z-index: 90;
}

.letter-form {
  display: flex;
  flex-wrap: wrap;
}

.letter-form label {
  font-size: 18px;
  line-height: 18px;
}

.letter-form input {
  border: 2px solid #dee2e3;
  border-radius: 3px;
}

.letter-form input:hover {
  border: 2px solid #bec5c9;
}

.letter-form input:focus {
  border: 2px solid #cd3944;
  outline: none;
}

.letter-form input[name="name"],
.letter-form input[name="e-mail"] {
  width: 220px;
  min-height: 38px;
  margin-right: 20px;
}

.name-email {
  display: flex;
  flex-wrap: nowrap;
  margin: 45px 80px 5px 80px;
}

.letter-form input[name="letter"] {
  width: 460px;
  padding-bottom: 98px;
  margin-bottom: 37px;
}

.letter {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 80px;
}

.modal-background {
  display: flex;
  flex-wrap: nowrap;
  background-color: #dee2e3;
  width: 620px;
  padding-top: 47px;
  padding-bottom: 47px;
  align-items: center;
  justify-content: center;
}

.button-send {
  padding: 13px 190px;
  outline: none;
}

.modal-close,
.modal-closes {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 100;
}

.modal-close::before,
.modal-close::after,
.modal-closes::before,
.modal-closes::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: #ee3643;
  top: 5px;
  right: 2px;
}

.modal-close::before,
.modal-closes::before {
  transform: rotate(45deg);
}

.modal-close::after,
.modal-closes::after {
  transform: rotate(-45deg);
}

.modal-map {
  display: none;
  top: 100px;
  left: 325px;
  width: 940px;
  height: 446px;
  border: none;
  z-index: 50;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 60;
  border: none;
}

.modal-cart {
  display: none;
  width: 620px;
  height: 280px;
  border-top: 7px solid #de5357;
  z-index: 50;
  top: 15%;
  left: 45%;
  width: 620px;
  height: 280px;
  margin-left: -230px;
}

.modal-item {
  display: flex;
  flex-wrap: wrap;
}

.item-cart {
  font-size: 30px;
  line-height: 30px;
  margin-left: 160px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.item-cart::before {
  position: absolute;
  content: "";
  height: 70px;
  width: 70px;
  background-color: green;
  left: 60px;
  top: 50px;
  border-radius: 40px;
}

.item-cart::after {
  position: absolute;
  top: 50px;
  left: 85px;
  height: 40px;
  width: 20px;
  z-index: 20;
  border-radius: 70px 0 0 0;
  background-color: transparent;
  box-shadow: 7px 7px 0 0px #ffffff;
  content: "";
  transform: rotate(45deg);
}

.next {
  background-color: #ffffff;
  color: #000000;
}

.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.9s;
}

.modal-basket {
  display: block;
  animation-name: bounce;
  animation-duration: 0.9s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.9s;
}
