body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a{
  text-decoration: none;
}
.container{
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
}
.main-header{
  background-color: #f1f4f6;
  margin-bottom: 10px;
  height: 300px;
}
.mine-header-bar {
  width: 100%;
  height: 45px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #30374a;
}
.container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.icon{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 11px;

}
.navigation{
  margin: 0 auto;
  width: 940px;
  height: 60px;
  padding-bottom:26px;

}
.site-navigation{
  display: flex;
  width: 940px;
  height: 61px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #3a445b;
}
.site-navigation a{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 22px 30px 22px 30px;
}
.icon,
.main-offers,
.site-navigation,
.sliders,
.catalog-list,
.popular-manufacturers,
.footer-site-navigation,
.our-offers,
.social-icons,
.cabinet-order,
.breadcrumbs,
.filter-manufactures,
.power-filter,
.sorting,
.pagination-list,
.index-catalog {
  list-style: none;
}
.site-navigation a{
  color: #ffffff;
}
.icon a{
  color: #ffffff;
  padding: 12px 18px 13px 50px;
}
.icon a:hover {
  background-color: #282e3c;
}
.icon a:focus {
  background-color: #1f232d;
}
a.bascet{
  background-color: #cd3944;
}
a:hover.bascet {
  background-color: #ae2f39;
}
a:focus.bascet{
  background-color: #a02c35;
}
a.checkout{
  background-color: #7aa448;
}
a:hover.checkout {
  background-color: #81ba3f;
}
a:focus.checkout{
  background-color: #63843d;
}
.site-navigation a:hover{
  background-color: #30374a;
}
.site-navigation a:focus{
  background-color: #252b3b;
}
h1{
  font-size: 16px;
  color: #cd3944;
  width: 200px;
  margin-left: 0;
}
.page-title {
  font-size: 30px;
  line-height: 30px;
  color: #3a445b;
}
.contacts-tel{
  font-size: 21px;
  line-height: 21px;
  color: #c82d2e;
  background-color: #f1f4f6;
  border: 3px solid #ffffff;
  width: 46px;
  height: 270px;
  padding: 12px 30px 10px 72px;
  margin-top: 15px;
}
.contacts-user {
  margin: 0 auto;
  width: 940px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.contacts-adress{
  font-size: 14px;
  line-height: 24px;
  color: #3a445b;
  margin-top: 10px;

}
.user-block a{

  font-size: 21px;
  line-height: 21px;
  margin-left: 10px;
  color: #000000;
  background-color: #ffffff;

}
.user-block a:hover{
  font-size: 21px;
  line-height: 21px;
  color: #cd3944;
  background-color: #ffffff;

}
.user-block a:focus{
  font-size: 21px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.user-block-login {
  background-color: #ffffff;
  color: #000000;
  height: 45px;
}
.user-block-login a{
  font-size: 21px;
  line-height: 21px;
  margin-left: 10px;
  color: #000000;
  background-color: #ffffff;
}
.user-block-login a:hover{
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}
.user-block-login a:focus{
  font-size: 21px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}
.cabinet-order a{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 16px;
  line-height: 18px;
  color: #3a445b;
  background-color: #f1f4f6;
  text-decoration: underline;
  }
.cabinet-order a:hover{
  font-size: 16px;
  line-height: 18px;
  color: #cd3944;
  background-color: #f1f4f6;
  text-decoration: underline;
}
.cabinet-order a:focus{
  font-size: 16px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #f1f4f6;
  text-decoration: underline;
}
.visually-hidden{
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.breadcrumbs{
  display: flex;
  justify-content: flex-start;
}
.breadcrumbs li > a{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  margin: 10px;
}
.sorting {
  width: 700px;
  background-color: #f5f2ec;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  text-align: center;
}
.sorting-name{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 3px;
}
.sorting a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #cd3944;
}
a.sorting-active{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #cd3944;
  border: none;
}
.sorting a:hover {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border-bottom: 1px solid #cd3944;
}
.sorting a:focus {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #cd3944;
  border: none;
}
.filter-catalog{
  display: flex;

}
.legend-filter {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
.filter{
  width: 220px;
}
.filter h3 {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: #f5f2ec;
}
.filter-input {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 400;
  color: #000000;
  background-color: #000000;
  text-transform: uppercase;
}
.filter-button {
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  background-color: #ffffff;
}
.main-offers{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: auto;
}
.main-offers li{
  width: 300px;
  height: 123px;
  margin: 10px;
}
.main-offers h3{
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 22px;
}
.main-offers li > a{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  text-transform: uppercase;
}
.main-offers li > a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.main-offers li > a:focus {
  background-color: rgba(0, 0, 0, 0.3);
}
.materials{
  background-color: #efbe52;
}
.materials a{
  font-weight: 700;
  margin-left: 25px;
  margin-top: 15px;
  padding: 14px 24px 14px 24px;
}
.tool{
 background-color: #73bae1;
}
.tool a{
  font-weight: 700;
  margin-left: 25px;
  margin-top: 15px;
  padding: 14px 27px 14px 27px;
}
.equipment{
  background-color: #c990d5;
}
.equipment a{
  font-weight: 700;
  margin-left: 23px;
  margin-top: 19px;
  padding: 12px 31px 12px 30px;
}
.discounts{
  order: 1;
  background-color: #a5d691;
}
.discounts a{
  font-weight: 700;
  margin-left: 23px;
  margin-top: 16px;
  padding: 12px 24px 14px 24px;
}
.delivery{
  order: 2;
  background-color: #efbe52;
}
.delivery a{
  font-weight: 700;
  margin-left: 25px;
  margin-top: 15px;
  padding: 14px 37px 14px 37px;
}
.sliders h3{
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
}
.sliders p{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.sliders > li > a{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #cd3944;
  padding: 14px 45px 14px 49px;
  border-radius: 2px;
}
.sliders > li > a:hover {
  background-color: #ae2f39;
  padding: 14px 45px 14px 49px;
  border-radius: 2px;
}
.sliders li > a:focus {
  background-color: #a02c35;
  padding: 14px 45px 14px 49px;
  border-radius: 2px;
}
.headline{
  display: flex;
  justify-content: space-between;
  background-color: #f8f5f0;
  margin-top: 53px;
  padding-left: 30px;

  align-items: center;
}
.popular-goods{
  font-size: 30px;
  line-height: 30px;
  color: #3a445b;

}
.all-goods{
  width: 940px;
}
.all{
  min-width: 250px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #cd3944;
  border-radius: 2px;
  margin-right: 24px;
  padding: 13px;

}
.all:hover {
  background-color: #ae2f39;
}
.all:focus {
  background-color: #a02c35;
}
.index-catalog{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.catalog-item{
  margin: 0;
  width: 220px;
  margin: 10px;
  border: 1px solid #eaeaea;

}
.catalog-item a{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}
.catalog-item-price del{
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #a8a8a8;
}
.catalog-item-price a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee3643;
}

.manufacturers{
  width: 940px;
  font-size: 30px;
  line-height: 30px;
  color: #3a445b;
  background-color: #f8f5f0;
}
.popular-manufacturers{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}
.popular-manufacturers li{
  position: relative;
  border: 1px #eaeaea solid;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
}
.popular-manufacturers img{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.service {
  background-color: #f6f8fa;
}
.services{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 70px;

}
.service h2{
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}
.service h3{
  font-size: 36px;
  line-height: 36px;
  color: #3a445b;
}
.delivery-service{
  margin-left: 80px;
}
.about-service {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.button-service{
  width: 240px;


}
.service-list:hover{
  background-color: #30374a;

}
.service-list:focus{
  background-color:#ffffff;
  color: #3a445b;
}
.service-list{
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  background-color: #3a445b;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 23px;
  margin: 0;

}
.index-columns{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 86px;

}
.about-company {
  width: 540px;
  margin-right: 90px;
}
.about-company h2{
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
.about-company p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.list{
  font-size: 18px;
  line-height: 700;
  color: #000000;
}

.about-company-button{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #cd3944;
  border-radius: 2px;
  padding: 14px 29px 13px 28px;

}
.about-company-button:hover {
  background-color: #ae2f39;
}
.about-company-button:focus {
  background-color: #a02c35;
}
.map{
  margin-bottom: 40px;
}
.address-map {
  width: 380px;
  margin-top: 35px;
}
.our-address{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #cd3944;
  border-radius: 2px;
  padding: 14px 59px 12px 68px;
}
.our-address:hover {
  background-color: #ae2f39;
}
.our-address:focus {
  background-color: #a02c35;
}
.pagination-list{
  display: flex;
  justify-content: flex-start;
}
.pagination-item a{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  padding: 10px 15px;
  margin: 5px;
}
.pagination-item a:hover {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #bec5c9;
  border-radius: 2px;
}
.pagination-item a:focus {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #cd3944;
  border-radius: 2px;
}
.pagination-item-current a{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  background-color: #cd3944;
  border-radius: 2px;
  border: 1px solid #cd3944;
}
.about-perforators {
  background-color: #f3f5f7;
}
.about-perforators h2{
  font-size:30px;
  line-height: 30px;
  color: #000000;
}
.about-perforators p{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size:13px;
  line-height: 24px;
  color: #000000;
}
.main-footer{
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  background-color: #3a445b;
}
.container2{
display: flex;
}

.main-footer-bar{
  margin-left: 10px;
}
.footer-site-navigation{
  display: flex;
  flex-wrap: wrap;
  padding:  0 0 0 76px;
}
.footer-site-navigation a{
  display: flex;
  flex-direction: space-between;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #3a445b;
  margin-top: 10px;
  margin-left: 60px;

}
.footer-site-navigation a:hover{
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
  background-color: #3a445b;
  text-decoration: underline;
}
.footer-site-navigation a:focus{
  font-size: 18px;
  line-height: 24px;
  color: rgba(241, 245, 247, 0.5);
  background-color: #3a445b;
}
.container3{
  display: flex;
}
.contacts-footer {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.our-offers{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.our-offers a{
  display: flex;
  justify-content: space-between;

  font-size: 18px;
  line-height: 24px;
  color: #f3d084;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 0;
}
.our-offers a:hover{
  font-size: 18px;
  line-height: 24px;
  color: #f3d084;
  text-decoration: underline;
}
.our-offers a:focus{
  font-size: 18px;
  line-height: 24px;
  color: rgba(243, 208, 132, 0.5);
}
.information{

  background-color: #30374a;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.social-icons{
  width: 160;
}
.created{
  width: 240px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.feedback{
  width: 160px;
}
.feedback b{
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.feedback a{
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #f3d084;
}
.footer-copyright{
  width: 120px;
  margin-right: 10px;
}
.footer-copyright b{
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.footer-copyright a{
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  color: #f3d084;
}
